.directory
.vscode/
.idea/
/certs/
protochat
protochat.log
*.crt
*.key
*.db
identifier.sqlite
config.json
chat-app
*.log
*.Identifier
*.gz
discord-notification.mp3
public/script.js
jsHashes.bin
public/content/avatars/
/public/content/attachments/
go.sum
database.sqlite
chat-app.exe