.directory
.vscode/
.idea/
protochat
protochat.log
*.crt
*.key
*.db
identifier.sqlite
config.json
proto-chat
*.log
*.Identifier
*.gz
discord-notification.mp3
public/script.js
jsHashes.bin
public/content/avatars/
/public/content/attachments/
