#bubble {
    font-size: smaller;
    z-index: 999;
    display: block;
    max-width: 240px;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#bubble div {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: larger;
}