#member-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--bit-darker-color);
    min-width: 240px;
    max-width: 240px;
    flex: 1;
    overflow-y: auto;
    /* width: 240px; */
    /* display: flex; */
    /* float: right; */
    /* flex-direction: column; */


    /* padding: 10px; */
}

#member-list li,
#first-column-main-container li {
    padding: 6px 16px;
    display: flex;
    flex-direction: row;

}

.user:hover {
    cursor: pointer;
    background-color: #36373D;
}

.user-data {
    pointer-events: none;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    /* cursor: default; */

}

.user-name {
    margin-right: 13px;
    line-height: 16px;
    vertical-align: baseline;
    font-size: 15px;
    pointer-events: none;

}

.user-status-text {
    pointer-events: none;
    font-size: 12px;
}