.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* border: 1px solid var(--dark-transparent) */
}

.window-main {
    background-color: var(--main-color);
    height: 100%;
    width: 100%;
}

.window-top-bar {
    height: 32px;
    display: flex;
}

.window-top-bar-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.window-top-bar:hover {
    cursor: grab;
}

.window-maximize-button,
.window-exit-button {
    height: 28px;
    width: 28px;
}

.window-maximize-button {
    background-color: blue;
}

.window-exit-button {
    background-color: violet;
}