body {
    display: flex;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.url {
    color: deepskyblue;
    text-decoration: underline;
    cursor: pointer;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--loading-color);
    transition: opacity 0.25s ease;
    text-align: center;
    align-content: center;
    font-size: 96px;
}

#bubble,
#right-click-menu,
.window {
    position: absolute;
}

#bubble,
#right-click-menu {
    border-radius: 5px;
}

#bubble,
#right-click-menu,
.window-top-bar {
    backdrop-filter: blur(3px);
}


#bubble,
#right-click-menu {
    background-color: var(--dark-transparent);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* border: 1px solid var(--dark-transparent) */
}

.window-main {
    background-color: var(--main-color);
    height: 100%;
    width: 100%;
}

.window-top-bar {
    height: 32px;
    display: flex;
}

.window-top-bar-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.window-top-bar:hover {
    cursor: grab;
}

.window-maximize-button,
.window-exit-button {
    height: 28px;
    width: 28px;
}

.window-maximize-button {
    background-color: blue;
}

.window-exit-button {
    background-color: violet;
}

.window-main {
    display: flex;
}

.settings-left {
    width: 35%;
    background-color: red;
}

.settings-right {
    width: 65%;
    background-color: blue;
}

/* server list column on the left side */
#server-list {
    overflow-y: scroll;
    scrollbar-width: none;
    min-width: 72px;
    max-width: min-content;
    background-color: var(--darker-color);
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 8px;
    margin: 0;
}



/* all the server buttons on the left side */
#server-list button {
    order: 1;
    /* so the white notification thing will appear on left */
    flex-shrink: 0;
    /* prevent resizing button */
    width: 48px;
    height: 48px;
    margin-left: 8px;
    margin-right: 12px;
    background-size: 48px 48px;
    border-radius: 50%;
    background-color: var(--main-color);
    transition: border-radius 0.3s ease, background-color 0.15s ease;
}

/* #server-list button:hover { */
/* background-color: #5865F2; */
/* } */

#dm {
    order: 1;
}

/* separator between dm and servers on top left */
#first-servers-separator,
#second-servers-separator {
    flex: 0 0 auto;
    width: 32px;
    height: 2px;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: var(--separator-color);
}

#first-servers-separator {
    order: 2;
}

#second-servers-separator {
    order: 4;
}

.server,
.placeholder-server {
    order: 3;
}


/* this holds the server button and its notification thing */
#server-list>li {
    /* background-color: green; */
    height: 60px;
    width: 72px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

/* that notification thing left from server */
.server-notification {
    width: 4px;
    height: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: white;
    transition: height 0.3s ease;
}

#add-server {
    order: 5;
}

/* color and font of add server button */
#add-server-button {
    font-size: x-large;
    background-color: var(--main-color);
    color: #00b700;
}

/* make the add server button green on hover */
#add-server-button:hover {
    color: white;
    background-color: green;
}

#second-column {
    min-width: 240px;
    max-width: 240px;
    background-color: var(--bit-darker-color);
    display: flex;
    flex-direction: column;
}

#above-friends-channels {
    border-bottom: 1px solid #1F2023;
    height: 48px;
    align-items: center;
}

#server-name-button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

#server-name {
    display: flex;
    justify-content: flex-start;
    margin-left: 12px;
    /* background-color: red; */
    width: 100%;
}

#server-name-arrow {
    justify-content: flex-end;
    /* background-color: green; */
    width: 25%;
}

#server-name-button,
#main-top-left {
    color: #e7e7e7;
    font-size: 16px;
}


#server-name-button:hover {
    background-color: #474a52;
}

#channels {
    overflow-y: scroll;
    padding: 8px;
    flex: 1;
}

/* this holds 2 buttons that either hides or makes new channels */
#channels-visible-or-add-new {
    justify-content: space-between;
    display: flex;
}

/* the text inside it */
#channels-visible-or-add-new button:first-child div {
    margin-left: 6px;
    font-variant: small-caps;
}

/* button that toggles the channels' visibility */
#channels-visibility-button {
    display: flex;
    /* background-color: red; */
    flex: 1;
    height: 32px;
    align-items: center;
}

#channel-list {
    display: flex;
    flex-direction: column;
}

#channel-list button {
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: none;
    font-size: medium;
    transition: font-size 0.2s ease, height 0.2s ease;
}

#channel-list button:hover {
    background-color: #313338;
    font-size: large;
}

#channel-list button>div {
    padding-left: 12px;
}

#user-panel {
    height: 52px;
    max-height: 52px;
    min-height: 52px;
    background-color: var(--dark-color);
    box-sizing: border-box;
    padding: 6px;
    display: flex;
}

/* this is below channel/friend list */
#user-panel>div {
    display: flex;
    align-items: center;
    width: 100%;
}

#user-panel-user-container,
#user-panel-buttons {
    border-radius: 6px;
    height: 100%;
}

/* this holds pfp and status in user panel */
#user-panel-user-container {
    display: flex;
    margin-right: 3px;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#user-panel-user-container:hover,
#user-panel-buttons button:hover {
    background-color: #3d3e45;
}

#user-panel-pfp {
    background-color: yellow;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 8px;
}

#user-panel-name-status {
    text-align: left;
    width: 110px;
}

#user-panel-name {
    font-size: 15px;

}

#user-panel-status {
    width: 108px;
}

#user-panel-status,
#user-panel-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

/* buttons in user panel */
#user-panel-buttons {
    /* background-color: green; */
    display: flex;
    box-sizing: border-box;
    margin-left: 3px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

#user-panel-buttons button {
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

#user-settings-button {
    background-color: blueviolet;
}

#toggle-microphone-button {
    background-color: darkorange;
}

#main-container {
    display: flex;
    flex: 1;
    background-color: #313338;
    flex-direction: column;
}

#main-top {
    border-bottom: 1px solid #1F2023;
    height: 48px;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
}

#main-top-left,
#main-top-right {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

#main-top-left {
    justify-content: flex-start;
}

#main-top-right {
    justify-content: flex-end;
}

#main-top-right>button {
    width: 32px;
    height: 32px;
    background-color: var(--main-color);
    margin-left: 16px;
    border-radius: 50%;
    border: 1;
    background-color: #4f545c;
    border-radius: 35%;
}

#main-bottom {
    display: flex;
    flex: 1;
    /* ensure no scrolling here */
    overflow-y: hidden;
}

#main-center-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#chat-loading-indicator {
    display: none;
    background-color: var(--dark-transparent);
    justify-content: center;
    align-items: center;
    height: 24px;
}

#chat-message-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

#chat-message-list>li {
    padding: 8px 32px;
    display: flex;
    flex-direction: row;
}

#chat-message-list>li:hover {
    background-color: #2E3035;
}

/* chat scroll gap */
#chat-message-list>div {
    order: 1;
    min-height: 20px;
}

.profile-pic,
.msg-profile-pic {
    border-radius: 50%;
}

.profile-pic:hover,
.msg-profile-pic:hover {
    cursor: pointer;
}

.msg-data {
    margin-left: 14px;
    display: flex;
    flex-direction: column;
}

.msg-name-and-date {
    display: flex;
    flex-direction: row;
}

.msg-user-name {
    line-height: 20px;
    vertical-align: baseline;
    font-size: 15px;
    color: #e7e7e7;
}

.user-name:hover,
.msg-user-name:hover {
    cursor: pointer;
    text-decoration: underline;
}


.msg-date {
    margin-left: 8px;
    color: #949BA4;
    font-size: 70%;
    line-height: 20px;
    cursor: default;
}

.msg-text {
    vertical-align: baseline;
    overflow-wrap: anywhere;
}

#attachment-container,
#chat-input-form-container {
    padding-left: 16px;
    padding-right: 16px;
}

#attachment-container {
    display: none;
}

#attachment-list {
    display: flex;
    flex-direction: row;
    background-color: var(--chat-input-color);
    align-items: center;
    padding: 6px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#attachment-list>div {
    /* height: 200px; */
    width: 200px;
    background-color: var(--bit-darker-color);
    border-radius: 6px;
    margin: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attachment-preview {
    height: 192px;
    width: 192px;
    border-radius: 4px;
    overflow: hidden;
    /* background-color: red; */
}

.attachment-preview>img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.attachment-name {
    margin-top: 4px;
    /* font-size: larger; */
}

/* chat input */
#chat-input-form-container {
    display: flex;
    padding-bottom: 24px;
}

/* this holds the chat text input and buttons such as attachment */
#chat-input-form {
    resize: none;
    display: flex;
    min-height: 32px;
    flex: 1;
    border-width: 1px;
    border-top: var(--light-color);
    border-top-style: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: var(--chat-input-color);
}

/* text input for chat */
#chat-input {
    flex: 1;
    background: none;
    border: none;
    min-height: 16px;
    max-height: 512px;
    resize: none;
    color: var(--text-color);
    overflow: auto;
    margin-top: 16px;
}

/* every button inside chat input */
.chat-button {
    background: none;
    border: none;
    display: flex;
    align-items: flex-end;
}

/* the icon inside every chat input buttons */
.chat-button-icon {
    height: 32px;
    width: 32px;
    background: #a29e9e;
    margin: 8px;
    border-radius: 50%;
    /* this is for the text inside it */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* same as above but change color of the icon inside the button too */
.chat-button:hover>.chat-button-icon {
    background-color: red;
}

/* disable outline when typing message */
#chat-input:focus {
    outline: none;
}

#member-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--bit-darker-color);
    min-width: 240px;
    max-width: 240px;
    flex: 1;
    overflow-y: auto;
    /* width: 240px; */
    /* display: flex; */
    /* float: right; */
    /* flex-direction: column; */


    /* padding: 10px; */
}

#member-list li,
#first-column-main-container li {
    padding: 6px 16px;
    display: flex;
    flex-direction: row;

}

.user:hover {
    cursor: pointer;
    background-color: #36373D;
}

.user-data {
    pointer-events: none;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    /* cursor: default; */

}

.user-name {
    margin-right: 13px;
    line-height: 16px;
    vertical-align: baseline;
    font-size: 15px;
    pointer-events: none;

}

.user-status-text {
    pointer-events: none;
    font-size: 12px;
}

#right-click-menu {
    z-index: 1000;
    width: 150px;
}

#right-click-menu ul {
    list-style: none;
    margin: 5%;
    padding: 0;
}

/* context menu items */
#right-click-menu li {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: small;
    cursor: pointer;
    border-radius: 5px;
}

#right-click-menu li:hover {
    background-color: #505cdc;
    color: white;
}

#right-click-menu li.cm-red {
    color: #F23F42;
}

#right-click-menu li.cm-red:hover {
    background-color: #F23F42;
    color: white;
}