:root {
    --main-color: #36393f;
    --hover-color: #313338;
    --light-color: #42444b;
    --bit-darker-color: #2B2D31;
    --dark-color: #232428;
    --darker-color: #1E1F22;
    --text-color: #C5C7CB;
    --dark-transparent: #111214d1;
    --dark-non-transparent: #111214;
    --brighter-transparent: #656565d1;
    --chat-input-color: #383a40;
    --separator-color: #3c3c3c;
    --loading-color: #00000080;
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: var(--text-color);
    font-size: 14px;
    /*background-color: var(--main-color);*/
}


/* default settings for all buttons */
button {
    background: none;
    border: none;
    color: #C5C7CB;
}

button:hover {
    cursor: pointer;
    color: #fff;
}

/* global scrollbar settings, only on chromium */
::-webkit-scrollbar {
    width: 6px;
}

/* ::-webkit-scrollbar-track { */
/* background: #2b2d31; */
/* } */

::-webkit-scrollbar-thumb {
    background: #1a1b1e;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #1E1F22;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 0.5rem;
}

.button:hover {
    background-color: #0056b3;
}

input {
    border: 0;
    height: 32px;
    width: 256px;
    padding-left: 16px;
    background-color: #909aa3;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
}

.user-name:hover,
.msg-user-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.profile-pic,
.msg-profile-pic {
    border-radius: 50%;
}

.profile-pic:hover,
.msg-profile-pic:hover {
    cursor: pointer;
}

#server-name-button,
#main-top-left {
    color: #e7e7e7;
    font-size: 16px;
}

#bubble {
    font-size: smaller;
    z-index: 999;
    display: block;
    max-width: 240px;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#bubble div {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: larger;
}