body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin: 0; */
    background-color: #25272b;
}

#centered-window {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 512px;
    width: 512px;
    background-color: #36393f;
    border-radius: 35px;
}

.text-input {
    margin-top: 8px;
}

#second-password,
#invitation-code {
    visibility: hidden;
}

#error-message {
    color: #ff0000;
    display: flex;
    justify-content: center;
}

#login-register-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#login-register-form>div {
    display: flex;
    flex-direction: column;
}