body {
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#pages {
    display: flex;
    margin: 0;
    overflow: hidden;

    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;

    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
}


@keyframes rotate {
    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }
}

a {
    color: deepskyblue;
    text-decoration: underline;
    cursor: pointer;
}

a:visited {
    color: deepskyblue;
}

#loading,
#picture-viewer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--loading-color);
    transition: opacity 0.25s ease;
    text-align: center;
    align-content: center;
    font-size: 96px;
    z-index: 99;
}

#picture-viewer-container {
    background-color: var(--loading-color);
}

#picture-viewer {
    max-height: 90%;
    max-width: 90%;
}

#file-drop-zone {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--loading-color);
}

#file-drop-window {
    width: 384px;
    height: 192px;
    background-color: var(--blue);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

#file-drop-deco {
    width: 352px;
    height: 160px;;
    border: 2px dashed lightgray;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#file-drop-msg {
    color: white;
    font-size: 24px;
    text-align: center;
    white-space: pre-line;
    /* this will allow to use newline n\ */
}

#update-client {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);

    width: 256px;
    height: 32px;
    background-color: green;
}

.attachment-pic:hover {
    cursor: pointer;
}

#loading > div {
    animation: rotate 5s infinite;
}

.bubble,
#ctx-menu,
.window {
    position: absolute;
}

.bubble,
#ctx-menu {
    border-radius: 5px;
}

.bubble,
#ctx-menu,
.window-top-bar {
    backdrop-filter: blur(3px);
}


.bubble,
#ctx-menu {
    background-color: var(--dark-transparent);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* border: 1px solid var(--dark-transparent) */
}

.window-main {
    background-color: var(--main-color);
    height: 100%;
    width: 100%;
}

.window-top-bar {
    height: 32px;
    display: flex;
}

.window-top-bar-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.window-top-bar:hover {
    cursor: grab;
}

.window-maximize-button,
.window-exit-button {
    height: 28px;
    width: 28px;
    padding: 0;
}

/*.window-maximize-button {*/
/*    background-color: blue;*/
/*}*/

/*.window-exit-button {*/
/*    background-color: violet;*/
/*}*/

.window-maximize-button:hover {
    background-color: rgba(128, 128, 128, 0.29);
}

.window-exit-button:hover {
    background-color: red;
}

.window-main {
    display: flex;
}

.settings-left {
    width: 35%;
    background-color: var(--bit-darker-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow-y: scroll;
}

.settings-left-top {
    height: 64px;
    margin-bottom: 8px;
}

.settings-list {
    width: 200px;
    display: flex;
    flex-direction: column;
    padding-right: 4px;
    /*margin-top: 64px;*/
}

/*.settings-list>button {*/
/*    color: white;*/
/*}*/

.settings-right {
    width: 65%;
    background-color: var(--main-color);
    overflow-y: scroll;
}

.settings-right-top {
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 32px;
}

.settings-right-main {
    margin: 16px;
    /*width: fit-content;*/
    /*height: fit-content;*/
}

.settings-right-main > div {
    /*background-color: var(--bit-darker-color);*/
    border-radius: 16px;
    display: flex;
    /*align-items: center;*/
}

.settings-right-main > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

.settings-right-label {
    font-size: x-large;
    color: white;
}

.pronoun-input {
    display: flex;
    flex-direction: row;
    width: 128px;
}

.select-pic {
    width: 128px;
    height: 128px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    background-color: var(--dark-color);
}

#first-main-container {
    display: flex;
}


/* server list column on the left side */
#first-column {
    overflow-y: scroll;
    scrollbar-width: none;
    min-width: 72px;
    max-width: min-content;
    background-color: var(--darker-color);
    display: flex;
    flex-direction: column;
    padding: 8px 0 0;
    margin: 0;
    user-select: none;
}

/* all the server buttons on the left side */
#first-column button {
    order: 1;
    /* so the white notification thing will appear on left */
    flex-shrink: 0;
    /* prevent resizing button */
    width: 48px;
    height: 48px;
    margin-left: 8px;
    margin-right: 12px;
    background-size: 48px 48px;
    border-radius: 50%;
    background-color: var(--main-color);
    transition: border-radius 0.3s ease, background-color 0.15s ease;
}

/* #server-list button:hover { */
/* background-color: #5865F2; */
/* } */

#dm {
    order: 1;
}

/* separator between dm and servers on top left */
#first-servers-separator,
#second-servers-separator {
    flex: 0 0 auto;
    width: 32px;
    height: 2px;
    margin: 2px auto;
    background-color: var(--server-separator-color);
}

#first-servers-separator {
    order: 2;
}

#second-servers-separator {
    order: 4;
}

.server,
.placeholder-server {
    order: 3;
}


/* this holds the server button and its notification thing */
#first-column > li {
    /* background-color: green; */
    height: 60px;
    width: 72px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

/* that notification thing left from server */
.server-notification {
    width: 4px;
    height: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: white;
    transition: height 0.3s ease;
}

#add-server {
    order: 5;
}

#add-server:hover button {
    border-radius: 35%;
}

/* color and font of add server button */
#add-server-button {
    font-size: x-large;
    background-color: var(--main-color);
    color: #00b700;
}

/* make the add server button green on hover */
#add-server-button:hover {
    color: white;
    background-color: green;
}

#second-column {
    min-width: 240px;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    user-select: none;
}

#second-column-top {
    border-bottom: 1px solid #1F2023;
    background-color: var(--darker-color);
}

#server-name-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 192px;
}

#server-name-button-container {
    border-radius: inherit;
}

#server-name-button {
    border-radius: inherit;
    height: 48px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;

}

#server-name-button > label {
    pointer-events: none;
}

#server-name-button-arrow {
    justify-content: center;
    align-items: center;
}


#server-name-button:hover {
    background-color: rgba(127, 127, 127, 0.25);
}

#second-column-main {
    overflow-y: scroll;
    flex: 1;
    padding: 8px;
}


#dm-buttons {
    padding-left: 0;
}

#dm-buttons > button {
    width: 100%;
}

#channels-visible-or-add-new,
#dm-chat-visible-or-add-new {
    justify-content: space-between;
    display: flex;
}

#channels-visible-or-add-new button:first-child label,
#dm-chat-visible-or-add-new button:first-child label {
    cursor: inherit;
    margin-left: 6px;
    font-variant: small-caps;
}

#channels-visibility-button,
#dm-chat-visibility-button {
    display: flex;
    flex: 1;
    height: 32px;
    align-items: center;
    flex-direction: row;
}

#channels-visibility-arrow {
    transition: transform 0.25s ease;
    transform-origin: 50% 50%;
}

.language-button-list {
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
}

.language-button-list > button {
    height: 32px;
    width: 192px;
    /*width: auto;*/
    display: flex;
    align-items: center;
    padding-left: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    transform-origin: left;
    transition: all 0.3s ease;
}

.language-button-list > button:hover {
    background-color: var(--hover-color);
    transform: scale(1.2);
}

#channel-list,
#dm-chat-list {
    display: flex;
    flex-direction: column;
}

#channel-list button,
.settings-list button,
#dm-buttons > button,
#dm-chat-list > button {
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: none;
    font-size: 14px;
    transition: font-size 0.2s ease, height 0.2s ease;
    padding-left: 0;
}

.settings-list button,
#dm-buttons > button,
#dm-chat-list > button {
    padding-left: 8px;
}

#channel-list button:hover,
.settings-list button:hover,
#dm-buttons > button:hover,
#dm-chat-list > button:hover {
    background-color: var(--hover-color);
    font-size: large;
}

#channel-list button > div {
    padding-left: 4px;
}

#user-panel {
    height: 52px;
    max-height: 52px;
    min-height: 52px;
    background-color: var(--dark-color);
    box-sizing: border-box;
    padding: 6px;
    display: flex;
}

#user-panel > div {
    display: flex;
    align-items: center;
    width: 100%;
}

#user-panel-user-container,
#user-panel-buttons {
    border-radius: 6px;
    height: 100%;
}

#user-panel-user-container {
    display: flex;
    margin-right: 3px;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#user-panel-user-container:hover,
#user-panel-buttons button:hover {
    background-color: #3d3e45;
}

#user-panel-pfp {
    width: 36px;
    height: 36px;
    margin-right: 8px;
    background-color: var(--main-color);
}

#user-panel-name-status {
    text-align: left;
    width: 110px;
}

#user-panel-name {
    font-size: 15px;
}

#user-panel-status {
    width: 108px;
}

#user-panel-status-text,
#user-panel-name,
.display-name,
.user-status-text,
#server-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#user-panel-buttons {
    display: flex;
    box-sizing: border-box;
    margin-left: 3px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

#user-panel-buttons button {
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

#user-panel-buttons button img {
    pointer-events: none;
}

.rotate-svg {
    transition: transform 0.3s ease;
}

.rotate-svg:hover {
    animation: rotateAnimation 2s linear infinite;
}

#user-settings-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#user-settings-button img {
    width: 24px;
    height: 24px;
    animation: rotateImg 5s linear infinite;
}

#user-settings-button:hover img {
    animation-play-state: running;
}

#user-settings-button:not(:hover) img {
    animation-play-state: paused;
}

@keyframes rotateImg {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#refresh-button {
    background-color: red;
}

#second-main-container {
    display: flex;
    flex: 1;
    background-color: #313338;
    flex-direction: column;
}

#third-column-top,
#fourth-column-top {
    border-bottom: 1px solid #1F2023;
    height: 48px;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
    user-select: none;
}

#fourth-column-top {
    background-color: #313338;
}

#main-top-left,
#main-top-right {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

#main-top-left {
    justify-content: flex-start;
}

#main-top-right {
    justify-content: flex-end;
}

#main-top-right > button {
    width: 32px;
    height: 32px;
    background-color: var(--main-color);
    margin-left: 16px;
    border-radius: 35%;
    border: 1px;
}

#third-column-main {
    display: flex;
    flex: 1;
    /* ensure no scrolling here */
    overflow-y: hidden;
}

#third-column-main {
    /*display: none;*/
    flex-direction: column;
    /*flex: 1;*/
    width: 100%;
}

#chat-loading-indicator {
    display: none;
    background-color: var(--dark-transparent);
    justify-content: center;
    align-items: center;
    height: 24px;
}

#chat-message-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

/*#chat-message-list > li:hover {*/
/*background-color: #2E3035;*/
/*}*/

/* chat scroll gap */
#chat-message-list > div {
    order: 2;
    min-height: 20px;
}

/*.ghost-msg {*/
/*    order: 1;*/
/*    opacity: 25%;*/
/*}*/

.profile-pic {
    height: inherit;
    width: inherit;
}

.profile-pic,
.msg-profile-pic,
#user-panel-pfp,
#mentionable-users-container > ul > button > img {
    border-radius: 50%;
    object-fit: cover;
    user-select: none;
}

.msg-profile-pic {
    width: 40px;
    height: 40px;
}

.msg:hover {
    background-color: var(--hover-dark-color);
}

.msg:hover .msg-date-short {
    display: block;
}

.message-attachment-pictures > *,
.message-attachment-videos > * {
    margin-right: 4px;
    margin-bottom: 8px;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 6px;
}

.message-attachment-audios > * {
    width: 512px;
    user-select: none;
}

.attachment-pic {
    max-height: 256px;
    user-select: none;
}

.attachment-video {
    max-height: 256px;
    user-select: none;
}

.profile-pic-container {
    position: relative;
    width: 32px;
    height: 32px;
}

.profile-pic {
    display: block;
}

.user-status {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: limegreen;
    border: 2px solid var(--bit-darker-color);
}

.orange-status-boolean {
    position: absolute;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: var(--bit-darker-color);
}

.profile-pic:hover,
.msg-profile-pic:hover {
    cursor: pointer;
}

.msg {
    margin-top: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
}

.msg-top {
    height: auto;
    display: none;
    margin-bottom: 6px;
}


.reply-msg-pic {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
}

.reply-msg-name {
    padding-right: 8px;
}

.reply-msg-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.reply-msg-message {
    width: 192px;
    /*width: 100%;*/
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
    overflow: hidden;
}

.reply-msg-message:hover {
    cursor: pointer;
    color: white;
}

.msg-top svg {
    stroke: var(--separator-color);
}

.msg-top:hover > svg {
    stroke: #9f9f9f;
}

.msg-bottom {
    display: flex;
}

.msg-data {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*height: 40px;*/
}

.msg-name-and-date {
    display: flex;
    flex-direction: row;
}

.msg-display-name {
    line-height: 20px;
    vertical-align: baseline;
    font-size: 15px;
    color: #e7e7e7;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.display-name:hover,
.msg-display-name:hover {
    cursor: pointer;
    text-decoration: underline;
}


.msg-date {
    margin-left: 8px;
    color: #949BA4;
    font-size: 70%;
    line-height: 20px;
    cursor: default;
}

.msg-date-short {
    opacity: 50%;
    font-size: 12px;
    text-align: center;
    display: none;
    user-select: none;
}

.msg-left-right-container {
    display: flex;
}

.msg-left-side {
    max-width: 70px;
    min-width: 70px;
    align-content: center;
}

.msg-right-side {
    width: 100%;
}

.msg-text-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.msg-text {
    vertical-align: baseline;
    overflow-wrap: anywhere;
    padding-top: 4px;
    padding-bottom: 4px;
    white-space: pre-wrap;
}

.msg-edited {
    padding-left: 4px;
    opacity: 50%;
    font-size: smaller;
    user-select: none;
}

.short-date {
    font-size: smaller;
    user-select: none;
}


#chat-input-container {
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    /*padding-bottom: 24px;*/
    overflow-x: hidden;
    margin: 0;
}

#mentionable-users-container {
    display: none;
    /*position: absolute;*/
    flex-direction: column;
    background-color: var(--bit-darker-color);
    height: auto;
    margin-bottom: 8px;
    border: solid 1px var(--separator-color);
    border-radius: 8px;
    padding: 16px;
}

#mentionable-users-container > label {
    padding-bottom: 12px;
    font-variant: small-caps;
    font-size: 15px;
}

#mentionable-users-container > ul {
    display: flex;
    flex-direction: column;
}

#mentionable-users-container ul > button {
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    align-items: center;
    border-radius: 6px;
}

#mentionable-users-container ul > button:hover {
    background-color: var(--hover-color);
}

#mentionable-users-container > ul > button > img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

#mentionable-users-container > ul > button > span {
    /*font-size: 32px;*/
}

#reply-container {
    display: none;
    height: 32px;
    background-color: var(--bit-darker-color);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    user-select: none;
    padding-left: 16px;
    padding-right: 16px;
    align-items: center;
}

#reply-container > span {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    overflow: hidden;
}

#reply-container > button {
    display: flex;
    justify-content: center;
    width: 20%;
}


#reply-container button svg circle {
    fill: var(--button-color);
}

#reply-container button:hover svg circle {
    fill: white;
}

#attachment-list {
    display: none;
    flex-direction: row;
    background-color: var(--chat-input-color);
    align-items: center;
    padding: 6px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    /*box-sizing: border-box;*/
}

#attachment-list > div {
    /* height: 200px; */
    width: 200px;
    background-color: var(--bit-darker-color);
    border-radius: 6px;
    margin: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attachment-preview {
    height: 192px;
    width: 192px;
    border-radius: 4px;
    overflow: hidden;
    /* background-color: red; */
}

.attachment-preview > img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    pointer-events: none;
    user-select: none;
}

.attachment-name {
    margin-top: 4px;
}

#someone-typing-container {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 32px;
    height: 16px;
    display: flex;
    flex-direction: row;
}

#svg-container {
    display: flex;
    align-items: center;
}

#svg-container svg:nth-child(1) {
    animation-delay: 0s;
}

#svg-container svg:nth-child(2) {
    animation-delay: 0.25s;
}

#svg-container svg:nth-child(3) {
    animation-delay: 0.5s;
}

#svg-container svg {
    margin-left: 2px;
    margin-right: 2px;
    animation: size-change 1.5s infinite;
}


@keyframes color-change {

    0%,
    100% {
        stroke: red;
    }

    33% {
        stroke: white;
    }

    66% {
        stroke: white;
    }
}

@keyframes size-change {

    0%,
    100% {
        transform: scale(1);
        fill-opacity: 0.5;
    }

    33% {
        transform: scale(1.5);
        fill-opacity: 1;
    }

    66% {
        transform: scale(1);
        fill-opacity: 0.5;
    }
}

.svg-container:nth-child(1) {
    animation-delay: 0s;
}

.svg-container:nth-child(2) {
    animation-delay: 1s;
}

.svg-container:nth-child(3) {
    animation-delay: 2s;
}

#someone-typing {
    margin-left: 6px;
}

.date-between-msgs {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    color: white;

    user-select: none;
}

.date-between-msgs > div {
    display: flex;
    width: 100%;
    border-top: thin solid var(--separator-color);
}

.date-between-msgs > span {
    margin-left: 4px;
    margin-right: 4px;
    white-space: nowrap;
    color: white;
    opacity: 75%;
    font-size: 12px;
}


/* this holds the chat text input and buttons such as attachment */
#chat-input-form,
.edit-chat-msg-form {
    resize: none;
    display: flex;
    min-height: 24px;
    flex: 1;
    border-width: 1px;
    border-top: var(--light-color);
    border-top-style: none;
    border-radius: 8px;
    background-color: var(--chat-input-color);
}

#chat-input-form {
    /*display: flex;*/
}

.edit-chat-msg-container {
    margin-bottom: 8px;
}

.edit-chat-msg-form {
    /*display: flex;*/
    flex-direction: column;
}

/* text input for chat */
#chat-input,
.edit-chat-msg {
    flex-grow: 1;
    background: none;
    border: none;
    min-height: 32px;
    max-height: 512px;
    resize: none;
    color: var(--text-color);
    overflow: auto;
    /*margin-top: 8px;*/
    margin-right: 8px;
    height: auto;
    align-content: center;
}

.edit-chat-msg {
    margin-left: 12px;
}

/* disable outline when typing message */
#chat-input:focus,
.edit-chat-msg:focus {
    outline: none;
}

/* every button inside chat input */
.chat-button {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* the icon inside every chat input buttons */
.chat-button-icon {
    height: 24px;
    width: 24px;
    background: var(--button-color);
    margin: 8px;
    border-radius: 50%;
    /* this is for the text inside it */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* same as above but change color of the icon inside the button too */
/*.chat-button:hover > .chat-button-icon {*/
/*    background-color: red;*/
/*}*/

.chat-button:hover > #attachment-button-icon {
    background-color: white;
}

#friend-list-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 16px 32px 0;
    width: 100%;
}

#friend-list-container > label {
    margin-bottom: 16px;
    font-variant: small-caps
}

#friend-list-container > ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#friend-list-container > ul > li {
    display: flex;
    flex-direction: row;
    padding: 8px;
    border-top: thin solid var(--separator-color);
    cursor: pointer;
}

#friend-list-container > ul > li:hover {
    background-color: var(--separator-color);
    border-top: thin solid rgba(0, 0, 0, 0);
    border-radius: 8px;
}

#member-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 16px;
    overflow-y: auto;
    user-select: none;
}

#member-list label {
    margin-bottom: 4px;
    margin-top: 16px;
    font-variant: small-caps;
}

#member-list li,
#first-column-main-container li {
    padding: 6px;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
}

.user:hover {
    cursor: pointer;
    background-color: #36373D;
}

.user-data {
    pointer-events: none;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    /* cursor: default; */

}

.display-name {
    margin-right: 13px;
    line-height: 16px;
    vertical-align: baseline;
    font-size: 15px;
    pointer-events: none;
    width: 160px;
}

.user-status-text {
    pointer-events: none;
    font-size: 12px;
    width: 160px;
}

#ctx-menu {
    z-index: 100;
    width: fit-content;
}

#ctx-menu ul {
    margin: 8px;
    padding: 0;
}

/* context menu items */
#ctx-menu li {
    padding: 8px;
    font-size: small;
    cursor: pointer;
    border-radius: 5px;
}

#ctx-menu li:hover {
    background-color: #505cdc;
    color: white;
}

#ctx-menu li.cm-red {
    color: #F23F42;
}

#ctx-menu li.cm-red:hover {
    background-color: #F23F42;
    color: white;
}

.member {
    cursor: pointer;
}

.member:hover {
    background-color: var(--hover-color);
}

.flag {
    height: 16px;
    padding-right: 8px;
}

.mention {
    background-color: #3e4587;
    padding: 3px 3px;
    border-radius: 6px;
}