body {
    display: flex;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

.url {
    color: deepskyblue;
    text-decoration: underline;
    cursor: pointer;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--loading-color);
}

#bubble,
#right-click-menu,
.window {
    position: absolute;
    border-radius: 5px;
}

#bubble,
#right-click-menu,
.window-top-bar {
    backdrop-filter: blur(3px);
}


#bubble,
#right-click-menu {
    background-color: var(--dark-transparent);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

/* this holds 2 buttons that either hides or makes new channels */
#channels-visible-or-add-new {
    justify-content: space-between;
    display: flex;
}

/* the text inside it */
#channels-visible-or-add-new button:first-child div {
    margin-left: 6px;
    font-variant: small-caps;
}

/* button that toggles the channels' visibility */
#channels-visibility-button {
    display: flex;
    /* background-color: red; */
    flex: 1;
    height: 32px;
    align-items: center;
}

#user-panel {
    height: 52px;
    max-height: 52px;
    min-height: 52px;
    background-color: var(--dark-color);
    box-sizing: border-box;
    padding: 6px;
    display: flex;
}

/* this is below channel/friend list */
#user-panel>div {
    display: flex;
    align-items: center;
    width: 100%;
}

#user-panel-user-container,
#user-panel-buttons {
    border-radius: 6px;
    height: 100%;
}

/* this holds pfp and status in user panel */
#user-panel-user-container {
    display: flex;
    margin-right: 3px;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

#user-panel-user-container:hover,
#user-panel-buttons button:hover {
    background-color: #3d3e45;
}

#user-panel-pfp {
    background-color: yellow;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 8px;
}

#user-panel-name-status {
    text-align: left;
    width: 110px;
}

#user-panel-name {
    font-size: 15px;

}

#user-panel-status {
    width: 108px;
}

#user-panel-status,
#user-panel-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

/* buttons in user panel */
#user-panel-buttons {
    /* background-color: green; */
    display: flex;
    box-sizing: border-box;
    margin-left: 3px;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
}

#user-panel-buttons button {
    width: 32px;
    height: 32px;
    border-radius: 6px;
}

#user-settings-button {
    background-color: blueviolet;
}

#toggle-microphone-button {
    background-color: darkorange;
}

#main-container {
    display: flex;
    flex: 1;
    background-color: #313338;
    flex-direction: column;
}

#main-top {
    border-bottom: 1px solid #1F2023;
    height: 48px;
    display: flex;
    padding-left: 24px;
    padding-right: 24px;
}

#main-top-left,
#main-top-right {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

#main-top-left {
    justify-content: flex-start;
}

#main-top-right {
    justify-content: flex-end;
}

#main-top-right>button {
    width: 32px;
    height: 32px;
    background-color: var(--main-color);
    margin-left: 16px;
    border-radius: 50%;
    border: 1;
    background-color: #4f545c;
    border-radius: 35%;
}

#main-bottom {
    display: flex;
    flex: 1;
    /* ensure no scrolling here */
    overflow-y: hidden;
}

#main-center-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* chat input */
#chat-input-form-container {
    display: flex;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

/* this holds the chat text input and buttons such as attachment */
#chat-input-form {
    resize: none;
    display: flex;
    min-height: 32px;
    flex: 1;
    border-radius: 12px;
    background-color: #383a40;
}

/* text input for chat */
#chat-input {
    flex: 1;
    background: none;
    border: none;
    min-height: 16px;
    max-height: 512px;
    resize: none;
    color: var(--text-color);
    overflow: auto;
    margin-top: 16px;
}

/* every button inside chat input */
.chat-button {
    background: none;
    border: none;
    display: flex;
    align-items: flex-end;
}

/* the icon inside every chat input buttons */
.chat-button-icon {
    height: 32px;
    width: 32px;
    background: #a29e9e;
    margin: 8px;
    border-radius: 50%;
    /* this is for the text inside it */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* same as above but change color of the icon inside the button too */
.chat-button:hover>.chat-button-icon {
    background-color: red;
}

/* disable outline when typing message */
#chat-input:focus {
    outline: none;
}