body {
    display: flex;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

/* server list column on the left side */
#server-list { 
    overflow-y:scroll;
    scrollbar-width: none;
    min-width: 72px;
    max-width: min-content;
    background-color: #1E1F22;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding: 0;
    margin: 0;
}


/* all the server buttons on the left side */
#server-list button{
    background-color: #36393f;
    flex-shrink: 0; /* prevent resizing button */
    width: 48px;
    height: 48px;
    margin-left: 8px;
    margin-right: 12px;
    background-size: 48px 48px;
    border-radius: 50%;
    transition: border-radius 0.3s ease;;
}

/* change their shape on hover */
#server-list button:hover {
    border-radius: 35%;
}

#dm {
    order: 1;
}

/* top left dm messages button */
#dm-button {
    background-color: #5865F2;
    background-image: url(hs.svg);
    background-size: 48px 48px;
}



/* separator between dm and servers on top left */
#dm-servers-separator {
    order: 2;
    flex: 0 0 auto;
    width: 32px;
    height: 2px;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #3c3c3c;
}

.server {
    order: 3;
}

/* this holds the server button and its notification thing */
#server-list>li {
    /* background-color: green; */
    height: 60px;
    width: 72px;
    flex: 0 0 auto;
    display:flex;
    align-items: center;
}

/* that notification thing left from server */
.server-notification {
    width: 4px;
    height: 8px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: white;
}

#add-server {
    order: 4;
}

/* color and font of add server button */
#add-server-button {
    font-size: x-large;
    color: #00b700;
}

/* make the add server button green on hover */
#add-server-button:hover {
    color:white;
    background-color: green;
}


#second-column {
    min-width: 15rem;
    max-width: 15rem;
    background-color: #2B2D31;
    display: flex;
    flex-direction: column;
}

#above-friends-channels {
    border-bottom: 1px solid #1F2023;
    min-height: 3rem;
    max-height: 3rem;
    align-items: center;
    /* background-color: #C5C7CB; */
}

#channels {
    padding: 8px;
    flex: 1;
}

/* this holds 2 buttons that either hides or makes new channels */
#channels-visible-or-add-new {
    justify-content: space-between;
    display: flex;
}

/* the text inside it */
#channels-visible-or-add-new button:first-child div {
    margin-left: 6px;
    font-variant: small-caps;
}

/* button that toggles the channels' visibility */
#channels-visibility-button {
    display: flex;
    /* background-color: red; */
    flex: 1;
    height: 32px;
    align-items: center;
}

#channels-list {
    overflow-y:scroll;
    display: flex;
    flex-direction: column;
}

#channels-list button {
    height: 32px;
    /* background-color:#36393f */
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: none;
    font-size: medium;
    transition: font-size 0.2s ease, transform 0.2s ease;
}

#channels-list button:hover {
    height: 2rem;
    /* cursor: pointer; */
    background-color: #313338;
    font-size: large;
}

#channels-list button>div {
    padding-left: 12px;
}


#main-container {
    display: flex;
    flex: 1;
    background-color: #313338;
    flex-direction: column;
}

#main-top {
    /* background-color: #2B2D31; */
    border-bottom: 1px solid #1F2023;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    /* flex: 1; */
}

#hide-member-list-button {
    /* float: right; */
    width: 2rem;
    height: 2rem;
    background-color: #36393f;
    /* margin-bottom: 0.0rem; */
    margin: 1rem;
    border-radius: 50%;
    border: 1;
    background-color: #4f545c;
    border-radius: 35%;
}

#main-bottom {
    display: flex;
    flex: 1;
    /* ensure no scrolling here */
    overflow-y: hidden;
}

#main-center-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#chat-message-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

#chat-message-list>li {
    padding: 0.5rem 2rem;
    display: flex;
    flex-direction: row;
}

#chat-message-list>li:hover {
    background-color: #2E3035;
}

/* chat scroll gap */
#chat-message-list>div {
    order: 1;
    min-height: 20px;
}

.profile-pic,
.msg-profile-pic {
    border-radius: 50%;
    margin-right: 0.9rem;
}

.profile-pic:hover,
.msg-profile-pic:hover {
    cursor: pointer;
}

.msg-data {
    display: flex;
    flex-direction: column;
}

.msg-name-and-date {
    display: flex;
    flex-direction: row;
}

.msg-user-name {
    margin-right: 0.8rem;
    line-height: 1.25rem;
    vertical-align: baseline;
    font-size: 15px;
}

.user-name:hover,
.msg-user-name:hover {
    cursor: pointer;
    text-decoration: underline;
}


.msg-date {
    color: #949BA4;
    font-size: 70%;
    line-height: 1.25rem;
    cursor: default;
}

.msg-text {
    vertical-align: baseline;
    overflow-wrap: anywhere;
}

/* chat input */
#chat-input-form-container {
    display: flex;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/* this holds the chat text input and buttons such as attachment */
#chat-input-form {
    resize: none;
    display: flex;
    /* min-height: 4rem;
    max-height: 32rem; */
    min-height: 2rem;
    flex: 1;
    border-radius: 12px;
    background-color: #383a40;
}

/* text input for chat */
#chat-input {
    flex: 1;
    background: none;
    border: none;
    min-height: 1rem;
    max-height: 32rem;
    /* height: max-content; */
    resize: none;
    color: #C5C7CB;
    overflow: auto;
    margin-top: 1rem;
    /* margin: 1rem; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

/* every button inside chat input */
.chat-button {
    background: none;
    border: none;
    display: flex;
    align-items: flex-end;
}

/* the icon inside every chat input buttons */
.chat-button-icon {
    height: 2rem;
    width: 2rem;
    background: #a29e9e;
    margin: 0.5rem;
    border-radius: 50%;
    /* this is for the text inside it */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* same as above but change color of the icon inside the button too */
.chat-button:hover>.chat-button-icon {
    background-color: red;
}

/* disable outline when typing message */
#chat-input:focus {
    outline: none;
}

#member-list {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #2B2D31;
    min-width: 15rem;
    max-width: 15rem;
    flex: 1;
    overflow-y: auto;
    /* width: 240px; */
    /* display: flex; */
    /* float: right; */
    /* flex-direction: column; */


    /* padding: 10px; */
}

#member-list li,
#first-column-main-container li {
    padding: 0.35rem 1rem;
    display: flex;
    flex-direction: row;

}

.user:hover {
    cursor: pointer;
    background-color: #36373D;
}

.user-data {
    pointer-events: none;
    /* padding-left: 1rem; */
    display: flex;
    flex-direction: column;
    /* cursor: default; */

}

.user-name {
    margin-right: 0.8rem;
    line-height: 1rem;
    vertical-align: baseline;
    font-size: 15px;
    pointer-events: none;

}

.user-status-text {
    pointer-events: none;
    font-size: 12px;
}



#right-click-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 150px;
    background-color: #111214d1;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

#right-click-menu ul {
    list-style: none;
    margin: 5%;
    padding: 0;
}

/* context menu items */
#right-click-menu li {
    padding: 8px 12px;
    font-size: small;
    cursor: pointer;
    border-radius: 5px;
}

#right-click-menu li:hover {
    background-color: #505cdc;
    color: white;
}

#right-click-menu li.cm-red {
    color: #F23F42;
}

#right-click-menu li.cm-red:hover {
    background-color: #F23F42;
    color: white;
}


