:root {
    --main-color: #36393f;
    --hover-color: #313338;
    --light-color: #42444b;
    --bit-darker-color: #2B2D31;
    --dark-color: #232428;
    --darker-color: #1E1F22;
    --text-color: #C5C7CB;
    --dark-transparent: #111214d1;
    --dark-non-transparent: #111214;
    --brighter-transparent: #656565d1;
    --chat-input-color: #383a40;
    --server-separator-color: #3c3c3c;
    --separator-color: rgba(255, 255, 255, 0.05);
    --loading-color: rgba(0, 0, 0, 0.71);
    --button-color: #b5bac1;
    --blue: #5865F2
}

body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    color: var(--text-color);
    font-size: 14px;
    background-color: var(--bit-darker-color);
}

textarea {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

/*video {*/
/*    min-height: 256px;*/
/*    min-width: 256px;*/
/*    max-height: 256px;*/
/*    max-width: 256px;*/
/*}*/


/* default settings for all buttons */
button {
    background: none;
    border: none;
    color: #C5C7CB;
}

.noHover {
    pointer-events: none;
}

button:hover {
    cursor: pointer;
    color: #fff;
}

/* global scrollbar settings, only on chromium */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* ::-webkit-scrollbar-track { */
/* background: #2b2d31; */
/* } */

::-webkit-scrollbar-thumb {
    background: #1a1b1e;
}

::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

.button {
    width: 128px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #1E1F22;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.5s;
}

.button:hover {
    background-color: #0056b3;
}

.button:disabled {
    opacity: 0.35;
}

input {
    border: 0;
    height: 32px;
    width: 256px;
    padding-left: 16px;
    background-color: #909aa3;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.35);
}

input::placeholder {
    color: #555555;
}

.input-label {
    margin-bottom: 6px;
}

.double-input {
    display: flex;
    width: 274px;
    gap: 8px;
    align-items: center;
}

.double-input > input {
    flex-grow: 1;
    min-width: 0;
}

.double-input > div {
    /* separator */
    font-size: x-large;
}

.user-name:hover,
.msg-user-name:hover {
    cursor: pointer;
    text-decoration: underline;
}

.profile-pic,
.msg-profile-pic {
    border-radius: 50%;
}

.profile-pic:hover,
.msg-profile-pic:hover {
    cursor: pointer;
}

#server-name-button,
#main-top-left {
    color: #e7e7e7;
    font-size: 16px;
}

.bubble {
    font-size: smaller;
    z-index: 999;
    display: block;
    max-width: 240px;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.bubble div {
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: larger;
}