.body .pages {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pages {
    position: absolute;
    height: 100%;
    width: 100%;
}

#first-main-container {
    width: 100%;
    max-width: 100%;
    z-index: 1;
    left: 0;
}

#second-column {
    max-width: 100%;
    width: 100%;
}

#second-main-container {
    width: 100%;
    max-width: 100%;
    z-index: 2;
    left: 100%;
}

#third-main-container {
    width: 100%;
    max-width: 100%;
    height: 100%;
    z-index: 3;
    left: 100%;
}

#fourth-column-main {
    width: 100%;
    max-width: 100%;
    height: 100%;
}